<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>
<body>
<h1>Welcome to Kahjeet's inventory! Do you have coin?</h1>
<table id="inventory" style="border-style:solid;border-width:2px;border-color:grey;">
   <thead>
        <tr>
            <th style="width: 250px;">Item Name</th>
            <th style="width: 200px;">Quality</th>
            <th style="width: 200px;">Remaining Days to sell</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td>
        </td>
        <td name="item_name" th:text="${item.name}"/>
        <td name="item_quality" th:text="${item.quality}"/>
        <td name="item_sell_by" th:text="${item.sellIn}"/>
    </tr>
    </tbody>
</table>

</body>
</html>


